.hotels{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
}


footer{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;

    a{
        text-decoration: underline;
    }
}

.stay-title{
    display: flex;
    justify-content: space-between;
}

.disable {
    color: var(---color-placeholder);
  }